<!--

HEADER

INFORMATION

GOES HERE

-->
<h2>Inspect tha Hex</h2>
<div class="wrapper" ng-controller="MainController">
  <div class="input-boxes">
    <label>
       Palette Title:
       <input type="text" name="palette title" ng-model="palette.title" placeholder="enter a name for your mix" required>
    </label>
    <label>
       Keywords:
       <input type="text" name="palette keyword" ng-model="palette.keyword" placeholder="tags, keywords, feelings, etc.">
    </label>
  </div>
  <div class="color-row">
    <h3>{{palette.title}}</h3><h5>{{palette.keyword}}</h5>
    <ul class="hexRectangle">
      <li class="hex-area" id="hex1"><input type="text" name="name" value="" ng-model="palette.hexes.hex1" class="basic"></li>
      <li class="hex-area" id="hex2"><input type="text" name="name" value="" ng-model="palette.hexes.hex2" class="basic"></li>
      <li class="hex-area" id="hex3"><input type="text" name="name" value="" ng-model="palette.hexes.hex3" class="basic"></li>
      <li class="hex-area" id="hex4"><input type="text" name="name" value="" ng-model="palette.hexes.hex4" class="basic"></li>
      <li class="hex-area" id="hex5"><input type="text" name="name" value="" ng-model="palette.hexes.hex5" class="basic"></li>
    </ul>
     <button type="button" name="enter-palette" class="submit">palettized!</button>
  </div>
</div>

<script>

</script>
