<!--

HEADER

INFORMATION

GOES HERE

-->
<div class="wrapper" ng-controller="MainController">
  <div class="input-boxes">
    <div class="paletteTitle">
       <input type="text" name="palette title" ng-model="palette.title" placeholder="enter a name for your mix" required>
    </div>
    <div class="paletteKeyword">
       <input type="text" name="palette keyword" ng-model="palette.keyword" placeholder="tags, keywords, feelings, etc.">
    </div>
  </div>
  <div class="color-row">
    <h3>{{palette.title}}</h3><h5>{{palette.keyword}}</h5></h3>
   <ul class="hexRectangle">
  <li class="hex-area" id="hex1">
    <input type="text" name="name" value="" ng-model="hex1" class="basic">
  </li>
  <li class="hex-area" id="hex2">
    <input type="text" name="name" value="" ng-model="hexes.hex2" class="basic2">
  </li>
  <li class="hex-area" id="hex3">
    <input type="text" name="name" value="" ng-model="hexes.hex3" class="basic3">
  </li>
  <li class="hex-area" id="hex4">
    <input type="text" name="text" value="" ng-model="hexes.hex4" class="basic4">
  </li>
  <li class="hex-area" id="hex5">
    <input type="text" name="name" value="" ng-model="hexes.hex5" class="basic5">
  </li>
</ul>
<div class="centerSubmit"><a class="submit" ng-click="paletteSubmit(palette)" href="#/">palettized!</a></div>
<!--      Color: <ui-colorpicker ng-model="targetColor"></ui-colorpicker>
    <br />
    Text input: <input ng-model='targetColor' />
    <br />
    Value: {{targetColor}}
    <div class="preview" ng-style="{ backgroundColor: targetColor }"></div> -->
  </div>
</div>
