<!--

HEADER

INFORMATION

GOES HERE

-->
<h2>Inspect tha Hex</h2>
<input type='text' class="basic"/>
<em id='basic-log'></em>
<div class="wrapper" ng-controller="MainController">
  <div class="input-boxes">
    <label>
       Palette Title:
       <input type="text" name="palette title" ng-model="palette.title" placeholder="enter a name for your mix" required>
    </label>
    <label>
       Keywords:
       <input type="text" name="palette keyword" ng-model="palette.keyword" placeholder="tags, keywords, feelings, etc.">
    </label>
    <button type="button" name="button">new palette!</button>
  </div>
  <div class="color-row">
    <h3>{{palette.title}}</h3><h5>{{palette.keyword}}</h5>
    <ul>
      <li class="hex-area" id="hex1"><input type="button" name="name" value="" ng-model="palette.hexes.hex1"></li>
      <!--{{palette.hexName}} -->
      <li class="hex-area" id="hex2"><input type="button" name="name" value="" ng-model="palette.hexes.hex2"></li>
      <!--{{palette.hexName}}-->
      <li class="hex-area" id="hex3"><input type="button" name="name" value="" ng-model="palette.hexes.hex3"></li>
      <!--{{palette.hexName}}-->
      <li class="hex-area" id="hex4"><input type="button" name="name" value="" ng-model="palette.hexes.hex4"></li>
      <!--{{palette.hexName}}-->
      <li class="hex-area" id="hex5"><input type="button" name="name" value="" ng-model="palette.hexes.hex5"></li>
      <!--{{palette.hexName}}-->
    </ul>
     <button type="button" name="enter-palette" class="submit">palettized!</button>
  </div>
</div>

<script>
$(".basic").spectrum({
    color: "#f00",
    change: function(color) {
        $("#hex1").text(color.toHexString());
    }
</script>
